.App {
    --header_height: 60px;
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: column;

}

.hw {
    padding: 30px 70px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(217, 217, 217, 1)
}

.hwTitle {
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding: 47px 70px 14px;




}